node_modules
.vscode/*
!.vscode/extensions.json
dist/
!server/public/*.html
!server/public/icons
!server/public/images
server/public/DECO
server/public/ECOM
server/public/STANDARDS
server/public/SURMESURES
*.csv
*.log
client/dist
.env
*.log
*.csv
*.xlsx
notes.txt
test/*.svg
test/*.dxf
test/*.pdf
test/previews
test/visu
*.crt
*.pem
*.key