node_modules
.vscode/*
!.vscode/extensions.json
dist/
server/public/
!server/public/icons
!server/public/images
*.csv
*.log
client/dist
.env
*.log
*.csv
*.xlsx
notes.txt
test/*.svg
test/*.dxf
test/*.pdf
test/previews
test/visu
*.crt
*.pem
*.key