node_modules
.vscode/*
!.vscode/extensions.json
dist/
test/
logs/
!server/public/*.html
!server/public/icons
!server/public/images
server/public/LM
server/public/ECOM
server/public/CASTO
server/public/TAURO
server/public/tmp
server/public/PREVIEW
*.csv
*.log
client/dist
.env
*.log
*.csv
*.xlsx
notes.txt
test/STANDARDS
test/*.js
test/*.svg
test/*.dxf
test/*.pdf
test/previews
test/visu
*.crt
*.pem
*.key
config.json
visu_casto/
*.pdf