<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="css/index.css">
  <title>Gestion Deco</title>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
</head>

<body>
  <script>

    window.onload = function () {
      const selectFormat = document.getElementById("format")
      const selectFile = document.getElementById("visuel")
      const selectPdf = document.getElementById('pdf')
      const selectResult = document.getElementById('result')
      const selectValid = document.getElementById('valider')
      selectFile.disabled = true

      function getData(format) {
        if (format !== "")
          return fetch('http://localhost:8000/' + format)
            .then(res => {
              return res.json()
            })
            .then(json => {
              return json
            })
            .catch(err => console.log('fetch: ', err))
      }


      selectFile.addEventListener('change', function (e) {
        getData(selectFormat.value).then(res => {
          const path = res.path.split('/').slice(5).join('/') + e.target.value
          // const path = res.path + e.target.value
          if (selectPdf.childElementCount >= 1) {
            while (selectPdf.firstChild) {
              selectPdf.removeChild(selectPdf.firstChild)
            }
          }
          selectPdf.append(createPdf('deco/' + path))
        })

      })


      selectFormat.addEventListener('change', function (e) {
        selectFile.disabled = false
        getData(e.target.value).then(res => {
          if (res.name == e.target.value) {
            res.files.forEach((files) => {
              selectFile.innerHTML = ""
              selectFile.append(createOptions("Visuel", ""))
              //selectFile.append(createOptions(res.files[index], res.files[index]))
              res.files.forEach((file) => {
                selectFile.append(createOptions(file, file))
              })
            })
          }
        })
      })


      function createPdf(value) {
        const newEmbed = document.createElement('embed')
        newEmbed.src = value
        newEmbed.width = 800
        newEmbed.height = 300
        newEmbed.className = "embed"
        newEmbed.type = 'application/pdf'
        return newEmbed
      }

      function createOptions(display, value) {
        const newOption = document.createElement('option')
        newOption.value = value
        newOption.text = display
        return newOption
      }
    }
  </script>


  <div class="ui container center">
    <form class="ui form" method="post" action="/">
      <div class="field">
        <label for="format">Formats: </label>
        <select class="ui search dropdown" id="format" name="format">
          <option value="">Format</option>
          <% for(var i=0; i < data.length; i++) { %>
            <option value="<%= data[i].name %>">
              <%= data[i].name %>
            </option>
            <% } %>
        </select>

        <label for="visuel">Visuel: </label>
        <select class="ui search dropdown" id="visuel" name="visuel" style="text-transform: uppercase;">
          <option value="">Visuel</option>
        </select>
        <div class="ui container pdf" id="pdf" name="pdf"></div>
      </div>

      <label>Infos commande:</label>
      <div class="three fields">
        <div class="field">
          <input type="number" name="numCmd" id="numCmd" placeholder="Num commande" autocomplete="on">
        </div>
        <div class="field">
          <input type="text" name="ville" id="ville" style="text-transform: uppercase;" placeholder="Ville"
            autocomplete="on">
        </div>
        <div class="field three wide">
          <input type="number" name="qte" id="qte" placeholder="ex">
        </div>
      </div>
      <br>
  </div>
  <br><br>
  <input class="ui inverted blue button" id="valider" type="submit" name="valider" value="Envoyer">
  <br><br>
  <h4 class="ui horizontal inverted divider">Résultat</h4>
  <div name="result" id="result">
    <img src="<%= pdf %>" alt="">
  </div>
  </form>
  </div>
</body>

</html>