body {
  padding: 5% 25%;
  background-color: rgb(49, 49, 49);
  color: #fefefe;
}


label {
  text-transform: capitalize;
}

.ui.form .field>label {
  color: #fefefe;
  font-weight: normal;
}

.ui.container .pdf {
  display: flex;
  flex-direction: row;
  max-width: 600px;
  max-height: max-content;
  width: fit-content;
  margin: auto;
  margin-top: 40px;
}

 img {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 600px;
  max-width: fit-content;
  margin: auto;
  border-radius: 2px;
} 

p {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-shadow: #141414;
  letter-spacing: 2px;
}

/* #myProgress {
  width: 100%;
  background-color: grey;
  border-radius: 8px;
}

#myBar {
  width: 1%;
  height: 30px;
  border-radius: 4px;
  background-color: lightblue;
} */