body {
  padding: 5% 25%;
  background-color: rgb(49, 49, 49);
  color: #fefefe;
}


label {
  text-transform: capitalize;
}

.ui.form .field>label {
  color: #fefefe;
  font-weight: normal;
}

.ui.container .pdf {
  display: flex;
  flex-direction: row;
  max-width: 600px;
  max-height: max-content;
  width: fit-content;
  margin: auto;
  margin-top: 40px;
}

iframe {
  display: flex;
  flex-direction: row;
  height: 400px;
  width: 100%;
  border-radius: 2px;
}